#share {
  top: 40%;
  left: 0rem;
  position: fixed;
}
#share a {
  width: 45px;
  height: 55px;
  border-radius:0px 8px 8px 0px;
  display: block;
  padding: 17px;
  margin-top: 8px;
  font-size: 20px;
  color: #fff;
  transition: opacity 0.1s ease-out;
  transition: font-size 0.1s ease-out;
  transition: width 0.1s ease-out;
}
#share a:hover {
  opacity: 1;
}
#share i {
  position: relative;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translatey(-50%);
  -webkit-transform: translateX(-50%) translatey(-50%);
  -moz-transform: translateX(-50%) translatey(-50%);
}
.github {
  background: #5E5E5E;
}
.linkedin {
  background: #0077b5;
}




#profilepic {
  max-width: 8rem;
  max-height: 8rem;
  border: .6rem solid rgba(255,255,255,0.15);
}

.img-border {
  border-style: solid;
  border-radius: 5%;
  border-color: #161616;
}

#mainNav {
  font-size:0.65rem;
  min-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#mainNav .nav-link {
  -webkit-transition: none;
  transition: none;
  padding: 1rem 1.5rem .2rem;
  color: rgba(255, 255, 255, 0.5);
}

#mainNav .nav-link.active {
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem 1.5rem .2rem;
  border-bottom: 0.2rem solid #64a19d;
}

#mainNav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

#mainNav .nav-link:active {
  color: white;
 }

#mainNav.navbar-shrink {
  background-color: #fff;
}

#mainNav.navbar-shrink .nav-link {
  color: #161616;
  padding: 1rem 1.5rem .2rem;
  border-bottom: 0.25rem solid transparent;
}

#mainNav.navbar-shrink .nav-link:hover {
  color: #64a19d;
}

#mainNav.navbar-shrink .nav-link:active {
  color: #467370;
}

#mainNav.navbar-shrink .nav-link.active {
  color: #64a19d;
  outline: none;
  border-bottom: 0.25rem solid #64a19d;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

.btn {
  -webkit-box-shadow: 0 0.4rem 0.3rem 0 rgba(95, 150, 145, 0.2) !important;
  box-shadow: 0 0.4rem 0.3rem 0 rgba(95, 150, 145, 0.2) !important;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: .01rem;
  border: 0;
  border-radius: 1.5rem;
  font-weight: 700;
  background-color: #64a19d;
  color: #000000;
}

.btn:hover {
  background-color: rgba(0, 255, 255, 0.8);
}

.btn:focus, .btn:active {
  background-color: #64a19d;
  color: #000000;
}

.btn-resume-pic-size {
  height: 1.5rem;
}

.btn-resume {
  padding: .6rem 1rem;
}

.title-text-about {
  font-size: 2.5rem;
  font-weight:650;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.95);
}

.skills-list {
 border-bottom:solid; 
 display: inline-block
}

.title-text-projects {
  padding: 0rem 0rem 4rem;
  font-size: 3rem;
  font-weight:650;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white, 0 0 45px white;
}

.title-text-contact {
  padding: 0rem 0rem 2rem;
  font-size: 3rem;
  font-weight:650;
}

.about-section {
  padding-top: 8rem;
  padding-bottom: 6rem;
  min-height: 50rem;
  background-image: url("../img/about-bg.png");
  background-attachment: fixed;
  background-size: cover;
}

.about-section p {
  font-size: 1rem;
  margin: auto;
}

.about-section h2 {
  font-size: 0.7rem;
  margin: auto;
}

.projects-section {
  padding: 2rem 0 10rem;
  background-image: radial-gradient(circle,#87D5D0, #3E6965);
  background-size: cover;
}

.projects-section-bg {
  border-radius: 60px;
  border-style: solid;
  border-width: 30px;
  border-color: #000000;
  background-color: #000000;
  
}

.project-text h4{
  font-size:1.5rem;
}

.projects-section .project-text {
  font-size: .9rem;
}

.projects-section .project-text hr {
  border-color: #64a19d;
  border-width: .15rem;
  width: 100%;
}

.contact-section {
  padding: 5rem 0rem 0rem;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.30rem solid #64a19d;
  background-color: #FFFFFF;
}

.contact-section .card h4 {
  font-size: 1.2rem;
  font-family: 'Varela Round';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

@media (min-width: 375px) {
  #mainNav {
    font-size:.9rem;
  }
  .about-section {
    min-height: 30rem;
  }
  #profilepic {
    max-width: 10rem;
    max-height: 10rem;
  }
  .title-text-about {
  }
  .about-section p {
    font-size: 1.2rem;
    max-width:20rem;
  }
  .about-section h2 {
    font-size:.9rem;
  }
  .title-text-projects, .title-text-contact {
  }
  .project-text h4{
    font-size:1.8rem;
  }
  .projects-section .project-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  #mainNav {
    font-size:1rem;
  }
  .about-section {
  }
  #profilepic {
    max-width: 14rem;
    max-height: 14rem;
  }
  .title-text-about {
    font-size: 3.5rem;
  }
  .about-section p {
    font-size: 1.3rem;
    max-width:35rem;
  }
  .about-section h2 {
    font-size:.9rem;
  }
  .title-text-projects, .title-text-contact {
    font-size: 4rem;
  }
  .project-text h4{
    font-size:2rem;
  }
  .projects-section .project-text {
    font-size: 1.2rem;
  }
}


@media (min-width: 992px) {
  .about-section {
  }
  .projects-section .project-text {
    padding: 5rem;
  }
  #profilepic {
    max-width: 16rem;
    max-height: 16rem;
  }
  .about-section p {
    max-width:45rem;
    font-size: 1.5rem;
  }
  #share {
  }
  #share a {
    width: 60px;
    height: 55px;
    font-size: 30px;
  }
  #share a:hover {
    opacity: 1;
    font-size: 36px;
    width: 75px;
  }
}

@media (min-width: 1440px) {
  #mainNav {
    font-size:1.2rem;
  }
  .about-section {
  }
  .title-text-about {
  }
  #profilepic {
    max-width: 16rem;
    max-height: 16rem;
  }
  .about-section p {
    font-size: 1.5rem;
    max-width:70rem;
  }
  .about-section h2 {
    font-size:1rem;
  }
  .title-text-projects, .title-text-contact {
  }
  .projects-section .project-text {
    font-size: 1.2rem;
  }
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
  min-width:320px;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
}

.bg-black {
  background-color: #000000 !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 2rem 0 3rem;
}
