#share {
  top: 150%;
  left: 0em;
  position: fixed;
}
#share a {
  width: 45px;
  height: 55px;
  border-radius:0px 8px 8px 0px;
  display: block;
  padding: 17px;
  margin-top: 8px;
  font-size: 20px;
  color: #fff;
  transition: opacity 0.1s ease-out;
  transition: font-size 0.1s ease-out;
  transition: width 0.1s ease-out;
}
#share i {
  position: relative;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translatey(-50%);
  -webkit-transform: translateX(-50%) translatey(-50%);
  -moz-transform: translateX(-50%) translatey(-50%);
}
.github {
  background: #5E5E5E;
}
.linkedin {
  background: #0077b5;
}
.github-footer {
  font-size: 1.25rem;
}
.linkedin-footer {
  font-size: 1.25rem;
}

#profilepic {
  max-height: 11rem;
  border: 0.75em solid rgba(255,255,255,0.15);
}

.img-fluid {
  max-width: 65%;
  max-height: 65%;
  height: auto;
}

.img-border {
  border-style: solid;
  border-radius: 5%;
  border-color: #161616;
}

#mainNav {
  font-size: 1.4em;

  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#mainNav .nav-link {
  -webkit-transition: none;
  transition: none;
  padding: 1rem 1rem 0.2rem;
  color: rgba(255, 255, 255, 0.5);
}

#mainNav .nav-link.active {
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem 1rem 0.2rem;
  border-bottom: 0.25rem solid #64a19d;
}

#mainNav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

#mainNav .nav-link:active {
  color: white;
 }

#mainNav.navbar-shrink {
  background-color: #fff;
}

#mainNav.navbar-shrink .nav-link {
  color: #161616;
  padding: 1rem 1rem 0.2rem;
  border-bottom: 0.25em solid transparent;
}

#mainNav.navbar-shrink .nav-link:hover {
  color: #64a19d;
}

#mainNav.navbar-shrink .nav-link:active {
  color: #467370;
}

#mainNav.navbar-shrink .nav-link.active {
  color: #64a19d;
  outline: none;
  border-bottom: 0.25rem solid #64a19d;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

.btn {
  font-size: 0.8em;
  -webkit-box-shadow: 0 0.4em 0.3em 0 rgba(95, 150, 145, 0.2) !important;
  box-shadow: 0 0.5em 0.5em 0 rgba(95, 150, 145, 0.2) !important;
  font-family: 'Varela Round';
  text-transform: uppercase;
  border: 0;
  border-radius: 1.5rem;
  font-weight: 500;
  background-color: #64a19d;
  color: #000000;
}

.btn:hover {
  background-color: rgba(0, 255, 255, 0.8);
}

.btn:focus, .btn:active {
  background-color: #64a19d;
  color: #000000;
}

.btn-resume-pic-size {
  height: 1.4em;
}

.btn-resume {
  font-size: 1.2em;
  padding: 0.6rem 1rem;
}

.title-text-about {
  font-size: 4em;
  font-weight:600;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.95);
}

.skills-list {
  font-size: 1.1em;
  margin: auto;
  border-bottom:solid; 
  display: inline-block
}

.title-text-projects {
  padding: 0rem 0rem 0.8rem;
  font-size: 5em;
  font-weight:650;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white, 0 0 45px white;
}

.title-text-contact {
  padding: 0rem 0rem 0.8rem;
  font-size: 5em;
  font-weight:650;
}

.about-section {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-image: url("../img/about-bg.png");
  background-attachment: fixed;
}

.about-section p {
  font-size: 1.75em;
  margin: auto;
}

.projects-section {
  padding: 2rem 0rem 5rem;
  background-image: radial-gradient(circle,#87D5D0, #3E6965);
  background-size: cover;
}

.projects-section-bg {
  border-radius: 60px;
  border-style: solid;
  border-width: 30px;
  border-color: #000000;
  background-color: #000000;
}

.project-text h4{
  font-size: 2em;
}

.projects-section .project-text {
  font-size: 1.5em;
}

.projects-section .project-text hr {
  border-color: #64a19d;
  border-width: 0.1em;
  width: 100%;
}

.contact-section {
  padding: 2rem 0rem 1rem;
}

.contact-section .card {
  font-size: 0.75rem;
  border: 0;
  border-bottom: 0.30rem solid #64a19d;
  background-color: #FFFFFF;
}

.contact-section .card h4 {
  font-size: 1em;
  font-family: 'Varela Round';
  text-transform: uppercase;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25em;
  width: 3em;
}



body {
  font-size: 9px;
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
  min-width:320px;
}

a {
  color: #64a19d;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 255, 255, 0.8);
}

.bg-black {
  background-color: #000000 !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  font-size: 0.8rem;
  padding: 2rem 0 1rem;
}



@media (min-width: 576px) {    }

@media (min-width: 768px) {    } 

@media (min-width: 992px) {
  #share {
    top: 28%;
  }
  #share a {
    width: 50px;
    height: 45px;
    font-size: 25px;
  }
  #share a:hover {
    opacity: 1;
    font-size: 30px;
    width: 60px;
  }
  #profilepic {
    max-height: 13rem;
  }
  .projects-section {
    padding: 2rem 10rem 5rem;
  }
  .contact-section {
    padding: 2rem 8rem 1rem;
  }
} 

@media (min-width: 1200px) {} 

@media (min-width: 1400px) {
  body {font-size:11px;}
  #profilepic {
    max-height: 14.5rem;
  }
} 

@media (min-width: 1600px) {
  body {font-size:14px;}
  .about-section h2 {
    font-size: 0.9em;
  }
} 
